
<div class="m-5 row">
  <div class="col-3"></div>
  <div class="col-6">
    <table class="table table-hover table datatables table-striped dt-responsive nowrap table-nowrap mb-0">
      <thead>
      <tr>
        <th>#</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>PHONE</th>
        <th>WEBSITE</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of userData">
        <td></td>
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.website}}</td>
        <td class="text-right">
          <a class="btn btn-danger btn-sm" style="cursor: pointer; color: #FFF" (click)="onDeleteUser(data.id)"
             title="delete item"><i class="uil-trash-alt">ELIMINAR</i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-3"></div>
</div>
