<H4 class="text-center m-5">Test user</H4>
<div class="row">
  <div class="col-3"></div>
  <div class="card back col-6">

    <form [formGroup]="userForm" (ngSubmit)="saveUser()" class="row">
      <div class="col-6 form-group">
        <label class="font-weight-bold">Name</label>
        <input id="name" [ngClass]="{'is-invalid': submit && type.name.errors}" formControlName="name" class="form-control" type="text" placeholder="Juan Pérez">
        <div *ngIf="submit && type.name.errors" class="invalid-feedback">
          <span *ngIf="type.name.errors.required">'THIS VALUE IS REQUIRED'.</span>
        </div>
      </div>
      <div class="col-6 form-group">
        <label class="font-weight-bold">Email</label>
        <input id="email" [ngClass]="{'is-invalid': submit && type.email.errors}" formControlName="email" class="form-control" type="text" placeholder="name@example.cl">
        <div *ngIf="submit && type.email.errors" class="invalid-feedback">
          <span *ngIf="type.email.errors.required">'THIS VALUE IS REQUIRED'.</span>
        </div>
      </div>
      <div class="col-6 form-group">
        <label class="font-weight-bold">Phone</label>
        <input id="phone" [ngClass]="{'is-invalid': submit && type.phone.errors}" formControlName="phone" class="form-control" type="text"  placeholder="12345678">
        <div *ngIf="submit && type.phone.errors" class="invalid-feedback">
          <span *ngIf="type.phone.errors.required">'THIS VALUE IS REQUIRED'.</span>
        </div>
      </div>
      <div class="col-6 form-group">
        <label class="font-weight-bold">Website</label>
        <input id="website" [ngClass]="{'is-invalid': submit && type.website.errors}" formControlName="website" class="form-control" type="text" placeholder="www.example.cl">
        <div *ngIf="submit && type.website.errors" class="invalid-feedback">
          <span *ngIf="type.website.errors.required">'THIS VALUE IS REQUIRED'.</span>
        </div>
      </div>
      <div class="col-12 text-center" >
        <button type="submit" class="btn btn-primary">Save User</button>
      </div>
    </form>
  </div>

  <div class="col-3"></div>
</div>
